* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

}
#box{
    display: flex;
    flex-direction: column;
}
.rectangle{
    display: flex;
    flex-direction: row;
}
.shape {
    height: 200px;
    width: 200px;
  
    border: 2px solid black;
    margin: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}